<div class="restaurantPage">
  <h1><strong>{{restaurant.name}}</strong></h1>
  <h4>{{restaurant.location}}</h4>
  <h4>{{restaurant.cuisine}}</h4>
  <img src="{{restaurant.image}}" alt="{{restaurant.name}}" />
</div>
